body {
    background: gray;
}

img {
    height:400px;
}

.container {
    max-width: auto;
    margin-left:auto;
    margin-right:auto;
}

.navbar-light .navbar-brand {
    background-color:cadetblue;
    color:whitesmoke;
}

h1 {
    color:whitesmoke;
}

.left {
    float:left;
}

p {
    color:whitesmoke;
    font-size:24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
}

footer {
    background:rgb(24, 24, 24);
    color:whitesmoke;
    position: fixed;
    padding:15px;
    margin:0;
    bottom:0;
    border-top:5px solid rgb(56, 99, 100);
    width:100%;
}

